.ApplicationCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button1 {
    margin-top: 10px;
}

h1 {
    margin-bottom: 17px;
    font-size: 45px;
    color: white;
    text-shadow: 4px 4px 5px rgba(0,0,170,0.7);
}
