.Header {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputHeader {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.textHeader {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    color: white;
}