.Header {
    background-color: rgba(0, 0, 255, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputHeader {
    display: flex; 
    align-items: center;
    margin-left: 1%
}

.textHeader {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    color: white;
    margin-right: 1%;
}